@font-face {
    font-family: Franklin-Regular;
    src: url("../fonts/Libre_Franklin/LibreFranklin-Regular.ttf");
}

@font-face {
    font-family: Franklin-Bold;
    src: url("../fonts/Libre_Franklin/LibreFranklin-Bold.ttf");
}